{% comment %}
Usage: {% include link.html ref="music.drecks.bandcamp" text="Bandcamp" %}
       {% include link.html ref="business.deltastring" text="Deltastring.com" %}
{% endcomment %}
{%- assign parts = include.ref | split: "." -%}
{%- if parts.size == 1 -%}
  {%- assign url = site.data.links[parts[0]] -%}
{%- elsif parts.size == 2 -%}
  {%- assign url = site.data.links[parts[0]][parts[1]] -%}
{%- elsif parts.size == 3 -%}
  {%- assign url = site.data.links[parts[0]][parts[1]][parts[2]] -%}
{%- endif -%}
<a href="{{ url }}">{{ include.text }}</a>