
<nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

<span class="sidebar-nav-item">Meta: <a href="/about/">about</a> / <a href="/blog/">blog</a> / <a href="/now/">now</a></span>

<span class="sidebar-nav-item">Content: <a href="/snaps/">life</a> / <a href="/music/">music</a> / <a href="/cars/">cars</a></span>

<span class="sidebar-nav-item">Gear: <a href="/gear/">current</a> / <a href="/sale/">for sale</a> / <a href="/next/">future</a></span>
</nav>


{% comment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.nav }}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% endcomment %}