<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="https://nicoboyce.com/public/img/pixel-nico-2.png" alt="pixel nico" width="100%" class="no-mob marg" />
      <h1 class="marg">
        <a href="{{ site.baseurl }}">
          <img src="/public/img/nicologo.svg" alt="{{ site.title }}" width="100%" class="marg" />
        </a>
      </h1>
      <p class="lead marg">><a {% if page.url=="/about/" %}href="#top" class="active" {% else %}href="/about/" {% endif %}>{{ site.description }}</a></p>
    </div>

    {% include nav.html %}

    <span class="sidebar-nav-item"><a href="mailto:{{ site.email }}">email</a> // <a href="https://pixelfed.social/beastie" target="_blank" rel="noopener noreferrer">pixelfed</a> // <a href="https://deltastring.com" target="_blank" rel="noopener noreferrer">deltastring</a></span>

    <span class="sidebar-nav-item no-mob">{% include info.html %}</span>
  </div>
</div>
