<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          <img src="/public/img/nicologo.svg" alt="{{ site.title }}" width="100%" />
        </a>
      </h1>
      <p class="lead"><a>{{ site.description }}</a></p>
    </div>

    {% include nav.html %}

    <span class="sidebar-nav-item"><a href="mailto:{{ site.email }}">Email</a> / <a href="https://wa.me/447596476097" target="_blank" rel="noopener noreferrer">WhatsApp</a> / <a href="https://deltastring.com" target="_blank" rel="noopener noreferrer">Deltastring</a></span>

    <span class="sidebar-nav-item no-mob">{% include info.html %}</span>
  </div>
</div>
